@import '../../../assets/styles/_variables';

.page {
  @apply grid;

  grid-template-rows: 100px 40px 1fr;

  &:not(.minimized) {
    grid-template-columns: 0 #{$SIDEBAR_WIDTH} 1fr;
  }

  &.minimized {
    grid-template-columns: 0 #{$SIDEBAR_MIN_WIDTH} 1fr;
  }
}

.content {
  @apply grid pr-5;

  grid-column: 1 / -1;
  grid-row: 2 / -1;

  grid-template-columns: min-content 1fr;
}
