@import '../../../assets/styles/_variables';

.page {
  @apply grid;

  grid-template: 100px 40px 1fr / 0 #{$SIDEBAR_WIDTH} 1fr;
}

.content {
  @apply grid pr-10;

  grid-template-columns: #{$SIDEBAR_WIDTH} 1fr;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
}
