@import '../../../assets/styles/_variables';

.header {
  @apply content-center;

  display: inherit;
  grid-column: 1 / -1;

  &:not(.minimized) {
    grid-template-columns: #{$SIDEBAR_WIDTH} 490px 1fr;
  }

  &.minimized {
    grid-template-columns: #{$SIDEBAR_MIN_WIDTH} 490px 1fr;
  }
}

.left {
  @apply content-center;

  display: inherit;
  grid-column: 1 / span 2;

  &:not(.minimized) {
    grid-template-columns: #{$SIDEBAR_WIDTH} 490px;
  }

  &.minimized {
    grid-template-columns: #{$SIDEBAR_MIN_WIDTH} 490px;
  }
}

.link {
  @apply relative block focus:outline-none;
}

.logo {
  @apply absolute;

  &:not(.original) {
    @apply left-5;
  }

  &.original {
    @apply left-10;
  }

  &.hide {
    @apply invisible opacity-0 pointer-events-none;
  }
}

.searchBox {
  @apply pl-5;
}

.search {
  @apply h-10 rounded-[8px] px-12 w-[490px] focus:outline-none;

  font-size: calc(0.875rem * var(--font-zoom));
}
