@import '../../../assets/styles/_variables';

.header {
  @apply sticky top-0 content-center z-[9000] bg-marathon-background;

  display: inherit;
  grid-column: 1 / -1;

  &:not(.minimized) {
    grid-template-columns: #{$SIDEBAR_WIDTH} minmax(min-content, 490px) 1fr;
  }

  &.minimized {
    grid-template-columns: #{$SIDEBAR_MIN_WIDTH} minmax(min-content, 490px) 1fr;
  }
}

.left {
  @apply content-center;

  display: inherit;
  grid-column: 1 / span 2;

  &:not(.minimized) {
    grid-template-columns: #{$SIDEBAR_WIDTH} minmax(min-content, 490px);
  }

  &.minimized {
    grid-template-columns: #{$SIDEBAR_MIN_WIDTH} minmax(min-content, 490px);
  }
}

.mobileMenu {
  @apply lg:hidden pl-7;
}

.searchBox {
  @apply pl-5 max-md:hidden;
}

.search {
  @apply h-10 rounded-[8px] px-12 lg:w-[490px] md:w-[390px] focus:outline-none;

  font-size: calc(0.875rem * var(--font-zoom));
}

@media not all and (min-width: 1024px) {
  .header {
    grid-template-columns: 60px minmax(min-content, 490px) 1fr !important;
  }

  .left {
    grid-template-columns: 60px minmax(min-content, 490px) !important;
  }
}
