.box {
  @apply relative rounded-[10px] bg-marathon-light-background p-5 transition-shadow duration-150;

  box-shadow: 12px 12px 24px #00000005;
}

.title {
  @apply text-marathon-light font-rubik font-medium;

  font-size: calc(1.125rem * var(--font-zoom));
}

html[data-theme='light'] {
  .box {
    &:hover {
      box-shadow: 30px 30px 70px #2662f014;
    }
  }
}
