.notify {
  @apply max-lg:hidden;

  & > svg {
    @apply ml-[11px];
  }
}

.profile {
  @apply gap-5 mr-5;

  grid-column: -1;

  & > .button {
    @apply first:mr-3 last:ml-3;
  }
}

.meta {
  @apply max-xl:hidden;
}

.username {
  @apply font-medium text-marathon-light;

  font-size: calc(1rem * var(--font-zoom));

  &:empty {
    @apply w-48;
  }
}

.specialty {
  @apply uppercase text-marathon-light;

  font-size: calc(0.625rem * var(--font-zoom));

  &:empty {
    @apply mt-2 w-28;
  }
}

.dropBox {
  @apply py-3;

  &:hover {
    & ~ ul {
      @apply visible;
    }
  }
}

.drop {
  @apply pl-[13px];
}

.themeItem,
.notifyItem {
  @apply lg:hidden;
}
